html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
    font-size : 15px;
    font-family : Montserrat;
    color :hsl(232, 13%, 33%);
}

.container{
    padding: 2em;
    margin: 2em;
    background-color: hsl(240, 78%, 98%);
    background-image: url("./images/bg-top.svg"),url("./images/bg-bottom.svg");
    background-repeat: no-repeat, no-repeat; 
    background-position: top right, left bottom;
    display : flex;
    flex-direction: column;
    justify-content: space-around;
}
.sub-container1{
    padding: 2em;
    flex-basis:7em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    align-self: center;
    font-size: 2em;
    font-weight: 700;
}

.pricing-period{
    align-self: center;
    display:flex;
    gap:1em;
    justify-content: space-between;
    align-items: center;
}

.sub-container2{
    flex-basis: 20em;
    display: flex;
    justify-content: center;
    padding: 2em;
}

.component{
    flex-basis: 15em;
    padding: 0.5em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.dollar{
    font-size: 1.5em;
}

.amount{
    font-size: 2.5em;
    font-weight: 700;
}

hr{
    width: 13em;
    height: 0.067em;
    border: none;
    margin: 0;
    background: hsl(234,34%,89%);
}

.simpler{
    background-color: #FFF;
    color: hsl(233, 13%, 49%);
}

.button{
    text-align: center;
    width: 12em;
    padding: 0.2em;
    border: 0.01em solid hsl(233, 13%, 49%);
    border-radius: 0.4em;
    color: hsl(232, 13%, 33%);
}

.highlighter{
    background-color: hsl(243,81%,66%);
    color: #FFF;
}
.highlighter .button{
    color:#FFF;
    border-color: #FFF;
}

.toggle-button{
    width: 4em;
    height: 2em;
    background-color: hsl(243,81%,66%);
    padding: 0.2em;
    border-radius: 1.2em;
    transition-duration: 300ms;
}
.toggle-button > .circle-btn{
    width: 2em;
    height: 2em;
    background-color: #FFF;
    border-radius: 1.3em;
    transition-duration: 300ms;
}
.active{
    background-color: hsl(243,81%,66%);
}
.toggle-button.active > .circle-btn{
    margin-left: 2em;
}